<html>
  <head>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <style>
#main, #nav {
  text-align: center
}
#nav {
  margin-top: 10px
}
#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#nav ul li {
  display: inline;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}
#nav ul li.rest {
  border-left: 2px solid #000;
}
    </style>
    <title>BigQuery Analytics</title>
  </head>
  <body>
    <div id="main">
      <img id="cover" src="/static/cover.jpg"></img>
    </div>
    <div id="nav">
      <ul>
        <li><a href="http://www.amazon.com/Google-BigQuery-Analytics-Jordan-Tigani/dp/1118824822/">About</a></li>
        <li class="rest"><a href="http://storage.googleapis.com/bigquery-e2e/downloads/bigquery_e2e_samples.zip">Supplements</a></li>
        <li class="rest"><a href="https://code.google.com/p/bigquery-e2e/">Source Code</a></li>
        <li class="rest"><a href="/console">Console</a></li>
      <ul>
    </div>
  </body>
</html>
